# Gradle and Build Files
.gradle/
build/
app/build/
.build-outputs/

# Android Studio / IntelliJ / VS Code
.idea/
.vscode/
*.iml
.DS_Store

# Secrets & Environment Variables
.env
local.properties

# Android Build Outputs & Keystores
*.apk
*.aab
debug.keystore
debug.keystore.base64

# OS / Misc
Thumbs.db
